body{
  
  font-family: 'Do Hyeon', sans-serif;
  width: 100%;
  text-decoration: none;
}
.main{
  width: 100%;
  text-align: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sidebar a:hover{
  text-decoration: none;
}
.jacket{
    top: 100px;
    right: 100px;
}
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }
  
  .sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: lightyellow;
    display: block;
  }
  .sidenav .fa{
      color: blanchedalmond;
      font-size: 45px;
      padding: 25px 0;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .frontpage{
    margin-left: 120px; /* Same as the width of the sidenav */
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .svgimg{
    text-align: center;
  }
  .social{
    
    text-align: center;
    
    color: white;
    font-size: 20px;
    padding-top: 25px;

  }
  .social .fa{
    color: white;
    padding: 20px;
    font-size: 50px;
    border-radius: 15%;
  }
.ml1{
    font-weight: 400;
    font-size: 3.5em;
    color: cornsilk;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
    font-family: 'Do Hyeon', sans-serif;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
  .typewriter h1 {
    color: #fff;
    font-family: 'Do Hyeon', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } 
  .Buttons{
    text-align: center;
  }
  
  .svgfile{margin: 10%;display: block;}
  .face1,.face2,.face3,.face4,.face5,.face6{
      fill-opacity: 0;
      
      stroke-width: 0.5px;
      stroke-dashoffset: 0;
      stroke-dasharray: 2000;
  }
  .face1{
      stroke:#c2e9e8;
  }
  .face5,.face6{
      stroke:#fff;
  }
  .face4{
      stroke:lightcyan
  }
  .face2,.face3{
    stroke:orangered;
  }

  .face1{
      animation: face1 20s ease-in-out;
  }
  @keyframes face1 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  } 
  body{
      background-color: black;
      height: 100vh;
  }
  .face2{
      animation: face2 60s ease-in-out;
  }
  @keyframes face2 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  }
  .face3{
      animation: face3 60s ease-in-out;
  }
  @keyframes face3 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  }
  .face4{
      animation: face4 60s ease-in-out;
  }
  @keyframes face4 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  }
  .face5{
      animation: face5 60s ease-in-out;
  }
  @keyframes face5 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  }
  .face6{
      animation: face6 60s ease-in-out;
  }
  @keyframes face6 {
      0%{
          stroke-dashoffset:2000 ;
      }
      100%{
          stroke-dashoffset:0 ;
      }
  }
  .div2{
    color: white;
    text-align: center;
    font-weight: 100;
  }
  .svg2{
    color: white;
    margin: 10%;display: block;
  }
  .face7,.face8{
    fill-opacity: 0;
    
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 3000;
}
.face7{
 stroke: lightgrey;
}

.face8{
  stroke: coral;
  
}
.face7{
  animation: face7 10s ease-in-out;
}
@keyframes face7 {
  0%{
      stroke-dashoffset:3000 ;
  }
  100%{
      stroke-dashoffset:0 ;
  }
}
.face8{
  animation: face8 10s ease-in-out;
}
@keyframes face8{
  0%{
      stroke-dashoffset:3000 ;
  }
  100%{
      stroke-dashoffset:0 ;
  }
}


@keyframes full-circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes pop {
	0% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes rotate-vertical {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.social .fa:hover {
	animation: rotate-vertical 1.1s ease-out;
  
}

#prof:hover{
  animation: full-circle 1.1s ease-out;
  
}
.btn{
  text-align: center;
  padding: 10px;
}
.btn1, .btn2{
  padding: 10px;
  margin-left:20px ;
}
.btn1:hover { 

  animation: rotate-vertical 1.1s ease-out;
} 
.btn2:hover{
  
  animation: effect linear 1s; 
}

@keyframes effect { 
  0% { 
      transform: scale(1, 1); 
  } 
  25% { 
      transform: scale(1.3, 0.6); 
  } 

  50% { 
      transform: scale(1.1, 0.9); 
  } 
  100% { 
      transform: scale(1, 1); 
  } 
} 
 #home{
  padding: 0;
  margin: 0;
  text-align: center;
}
.logo{
  margin-bottom: 10px;
  padding-top: 5px;
}
.logo:hover{
  animation: rotate-vertical 1.1s ease-out;
}
.sidebar a{
  text-decoration: none;
}
.site-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  min-width: 213px;
  min-height: 20px;
  text-align: center;
  padding: 20px 10px 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  background-color: #000;
  margin-right: 10px;
  color: #fff;
  font-weight: 700;
}
.site-btn:hover {
  color: #fff;
  background-color: #000;
}
.icon-box {
  text-align: center;
  display: inline-block;
  margin-right: 60px;
}
.icon-box:last-child {
  margin-right: 0;
}
.icon-box i {
  font-size: 60px;
}
.icon-box p {
  color: #f4f6ff;
}
.social-links a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.site-logo h2 {
  font-size: 36px;
}
.site-logo h2 a {
  color: whitesmoke;
}
.site-logo p {
  font-size: 14px;
  line-height: normal;
}
.header-buttons a {
  margin-top: 15px;
}

.hero-text {
  padding-top: 40px;
  margin-bottom: 40px;
  font-family: "Do Hyeon", sans-serif;
}
.hero-text h2 {
  font-size: 125px;
  line-height: normal;
  margin-bottom: 20px;
  margin-right: 50px;
}
.hero-text p {
  font-size: 33px;
  line-height: 1.3;
}
.hero-image {
  padding-top: 70px;
  width: 100%;
}
.hero-info h2 {
  margin-bottom: 30px;
}
.hero-info ul {
  list-style: none;
}
.hero-info ul li {
  font-size: 24px;
  color: wheat;
  margin-bottom: 15px;
}
.hero-info ul li span {
  color: lightgrey;
  display: inline-block;
  min-width: 220px;
}
.hero-info ul li:last-child {
  margin-bottom: 0;
}
.img-btn{
  color: whitesmoke;
}
#img{
  margin: 0;
  padding: 0 ;
  
}
.main2{
  padding:0;
  
}
#myNavbar a{
  text-decoration: none;
}
.btn1, .btn2{
  display: block;
  border: none;
    outline:none;
}
body{
  overflow: hidden;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://i0.wp.com/codemyui.com/wp-content/uploads/2017/07/fidget-spinner-loading.gif?fit=880%2C440&ssl=1);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
body{
  overflow: hidden;
}
#skills {
  background-color: black;
  padding: 5%;
  margin: 0;
}
.skillhead #myskill {
  color: darkgrey;
  font-size: 4rem;
  font-weight: 800;
  margin: 2% auto;
  padding: 0;
}
.progress-wrap {
  color: linen;
}

.progress {
  margin: 3% auto;
}
.contact-info p {
  color: #fff;
}
.footer-section {
  color: whitesmoke;
  background-color: #000;
}
.container-free p,
.container-free h2 {
  color: #fff;
  font-family: "Do Hyeon", sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2;
}
.pod__item {
  color: #fff;
  text-align: center;
  padding: 4em 1em;
}
.pod__item__heading {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.25em;
  font-weight: 700;
  letter-spacing: -0.025em;
  font-family: "Do Hyeon", sans-serif;
}
.pod__item p {
  font-size: 1.8rem;
  font-family: "Do Hyeon", sans-serif;
}
.progress h3 span{
  font-size: 20px;
  float: right;
}
.text-animation{
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: white; }
  25% { color:lightcyan; }
  50% { color:ivory; }
  75% { color:beige; }
  100% { color:lightyellow; }
}
#services{
  
  text-align: center;
}
.service-area {
  margin-top: 0;
  
}
.service-area p {
  margin-bottom: -5px;
}
.service-wrap {
  box-shadow: 0 0 20px rgba(241, 239, 239, 0.5);
  overflow: hidden;
  padding: 25px 35px;
  position: relative;
  transition: all 0.5s ease 0s;
  z-index: 9;
  margin: 20px;
  background-color: #ebecf1;
  color: #000;
}
.service-wrap::before,
.service-wrap::after {
  content: "";
  height: 300%;
  position: absolute;
  transform: rotate(45deg);
  width: 120%;
  z-index: -9;
  transition: all 1s;
  opacity: 0;
  background-color:black;
  color: white;
}
.service-wrap::before {
  top: -70%;
  left: 100%;
}
.service-wrap:hover:before {
  left: -70%;
  opacity: 1;
}
.service-wrap::after {
  right: 100%;
  bottom: -70%;
}
.service-wrap:hover:after {
  right: -70%;
  opacity: 1;
}
.service-wrap:hover {
  
  color:white;
}
.service-wrap:h3 {
  background-color: wheat;
  color: white;
}
.service-wrap:hover h3 {
  
 color:white;  
}
.service-wrap:hover h3:after {
  
  color: white;
}
 .service-icon i {
  
  margin-bottom: 10px;
  transition: all 0.5s;
} 
.service-wrap:hover .service-icon i {
  transform: rotate(360deg);
}
.service-wrap h3 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  font-family: "Do Hyeon", sans-serif;
}
.service-wrap p {
  font-size: 14px;
  margin-bottom: 0;
}
#h2 {
  
  font-size: 4.1rem;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "Do Hyeon", sans-serif;
  color: lightcyan;
}
.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.section-title h2 {
  font-size: 40px;
  color:black;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
  letter-spacing: 2px;
}
.section-title h2::before .section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  letter-spacing: 2px;
}

.container p {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  line-height: 1.5;
  
}
.hero h1{
  font-size: 4rem;
  padding: 50px;
  padding-bottom: 0;
}
.hero p{
  font-family: "Do Hyeon", sans-serif ;
  letter-spacing: 1px;
}

.containered{
  position: relative;
  width: 100%;
}

.images{
  display: block;
  width: 100%;
  height: auto;
}

.overlayed{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #141a1b;
}

.containered:hover .overlayed {
  opacity: 1;
}

.text1{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.work{
  margin: 0;
  padding: 0;
}
.row .no-gutters [class*=col-]{
  padding-left: 0;
  padding-right: 0;
}
.img-wrapper{
  overflow: hidden;
  border: 2px solid rgb(70, 67, 67);
  box-sizing: border-box;
  width:100%;
  
  
  

  
}
.img-wrapper img{
  transition: transform 0.5 ease;
  width: 100%;
}
.img-wrapper img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
#myNavbar{
z-index: 999;
}
